@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futura_bk_bt_book-webfont.woff2') format('woff2'),
         url('../fonts/futura_bk_bt_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'robotoregular';

}
*:focus{
  outline: none;
}
.reset-padding{
  padding: 0!important;
}
.reset-margin{
  margin:0!important;
}



